/**
 * @file
 * Style donate page
 */
 @import "base.less";

.page-node-2637 #content {
  line-height: 20px;
  color: #434343;

  .breadcrumb {
     .left;
     margin-left: 140px;
     margin-bottom: 20px;
  }

  h1 {
    .element-invisible;
  }

  #block-system-main {
  }

  .tabs {
  }

  .region-content {
    .clearfix;
  }

  .block {
    .left;
    margin-right: 20px;
    .border-radius;

    .block-inner {
      padding: @grid-margin;

      .field-name-field-website {
        .align-center;

        a {
          .red-button;
          margin: 0 auto;
        }
      }
      h2 {
        .align-center;
        .sassoon-bold;
        .fs(22px);
      }
    }
  }

  .form-item {

    &.form-item-amountSelector {
      .m-bottom(20px);
    }

    .form-item-amountSelector {
      position: relative;
      margin-bottom: 25px;
      height: 40px;
    }

    .value {
      .white;
      .fs(26px);
      .sassoon-bold;
      .block;
      margin-left: 30px;
      margin-bottom: 0;
      width: 70px;
      line-height: 32px;
    }

    .suffix {
      display: inline-block;
      padding: 0;
      width: 200px;
    }

    .form-radio {
      position: absolute;
      top: 3px;
      left: 0;
    }
  }

  .form-submit {
    .wide-red-button;
    .fs(24px);
  }

  //Became a wilderness supporter
  #block-bean-11 {
    width: 590px;
    .m-bottom(0);
    background: @green;
    color: #434343;

    .block-inner {
      padding: 40px 20px 20px;
    }

    h2 {
      .white;
      .fs(32px);
      .align-right;
      .no-margin;
      //padding-left: 80px;
    }

    .field-name-field-image {
      .right;
    }

    .field-name-field-body {
      .m-bottom(20px);
    }

    #panparks-donate-form-wilderness-supporter {
      position: relative;
      .clearfix;

      label[for=edit-amountselector] {
        .fs(18px);
        .d-green;
      }

      .form-item-uniqueAmount {
        .clearfix;
        .m-top(32px);

        label {
          .left;
          line-height: 20px;
          margin-bottom: 0;
        }

        .textfield {
          .left(0);
        }
      }

      .form-submit {
        position: absolute;
        bottom: -0px;
        right: 0;
        z-index: 1;
        width: 206px;

      }
    }
  }

  #block-bean-12 {
    margin-right: 0;
    width: 320px;
    background-color: #E49E15;
    .m-bottom(0);

    .block-inner {
      padding: 20px;
    }

    h2 {
      .d-green;
      //height: 92px;
      .fs(22px; 3px);
    }

    .form-item {
      .value {
        width: 50px;
        margin-right: 0;
      }
      .suffix {
        width: 180px;
      }

      .form-item-amountSelector {
        margin-bottom: 0px;
        height: 35px;
      }
    }

    .form-submit {
      .m-top(10px);
    }

    .field-name-field-image {
      float: none;
      text-align: center;
      width: 100%;
    }

    p {
      margin: 0;
    }
  }

  .content-middle {
    padding: 10px;
  };

  .content-mid-left {
    .left(0);

    h2 {
      .d-green;
    }

    img {
      .align-center;
    }

    #block-bean-13,
    #block-bean-14 {
      float: none;
      width: 270px;

      p {
        .no-margin;
      }
    }

    #block-bean-13 {
      .m-bottom(0);
      .block-inner {
        padding: 0;

        h2 {
          .m-bottom(0);
        }

        .content {
          padding: 10px;
        }
      }
    }

    #block-bean-14 {
      background-color: #E49E15;

      p {
        .small;
      }
    }
  }

  .content-mid-right {
    .left(0);

    .section-title {
      .fs(42px);
      .sassoon-bold;
      .align-center;
      .d-green;

      &:after {
        .red-separator;
        content: "";
        width: 100%;
        .m-top(8px);
      }
    }

    .block{
      width: 200px;

      .block-inner {
        .no-padding;
      }
    }

    #block-bean-18 {
      .m-right(0);
    }
  }

  .content-bottom {
    padding: 0 10px 10px;
    .content-bottom-top {

      background-color: #a38c5d;
      .clearfix;
      .border-radius;
      padding: 10px;
      .block {
        width: 450px;

        .block-inner {
          .no-padding
        }

        .field-name-field-image {
          width: 105px;
          height: 90px;
          overflow: hidden;
        }

        blockquote,
        p {
          margin: 0;
        }

        blockquote {
          .left(0);
          .blockquote;
          width: 280px;
        }
      }

      //quote1 block
      #block-bean-19 {
        margin: 0 10px 0 0;
      }

      //quote2 block
      #block-bean-40 {
        .m-right(0);
        .m-bottom(0);
      }
      //small text under quotes
      #block-bean-43 {
        .no-margin;
        width: 100%;

        p {
          .white;
          .small;

          a {
            .white;
            .fs(12px);
          }
        }
      }
    }

    .content-bottom-bottom {
      .small;
      margin-top: 10px;

      .block {
        .no-margin;
      }

      .block-inner {
        padding: 0;
      }

      p {
        margin: 0;
      }

      a {
        .fs(12px);
      }

      #block-bean-41 {
        .right(0);  .
      }
    }

    #block-bean-31 {
      margin: 10px 0 0 0;

      .block-inner {
        padding: 0;
      }
    }

    #block-bean-55 {
      margin: 10px 0 0 0;
      .clear;
      .block-inner {
        padding: 0;
        .triangle-ul;

        ul {
          .no-marding;

          li {
            .inline-block;
            .m-right(5px);
            .m.left(10px);

            &:before {
              top: 5px;
              left: -9px;
            }
          }
        }
      }
    }
  }
}


.ie8 {
  &.page-node-2637 {
    #content .form-item .value {
        font-size: 20px;
    }
  }

  #cboxLoadedContent {
    img {
      display: inline;
      max-width: none;
    }
  }
}

