/**
 * @file
 * Style donate page
 */
 @import "base.less";

.page-node-2637 #content {
  line-height: 1.65em;

  .breadcrumb {
     margin-left: 120px;
  }

  h1 {
    margin-left: 125px;
  }

  #block-system-main {
    display: none;
  }

  .tabs {
    display: none;
  }

  .block {
    .left;
    margin-right: 20px;

    .block-inner {
      padding: @grid-margin;

      h2 {
        .align-left;
      }
    }
  }

  .form-item {

    .form-item-amountSelector {
      position: relative;
      margin-bottom: 30px;
      height: 40px;
    }

    .value {
      .white;
      .fs(26px);
      .sassoon-bold;
      .block;
      margin-left: 30px;
      margin-bottom: 0;
      width: 70px;
      line-height: 32px;
    }

    .suffix {
      display: inline-block;
      padding: 0;
      width: 220px;
    }

    .form-radio {
      position: absolute;
      top: 3px;
      left: 0;
    }
  }
  //Became a wilderness supporter
  #block-bean-11 {

    .clearfix:after {
      clear: none;
    }
    width: 630px;

    background: @green;
    color: #434343;

    .block-inner {
      padding: 40px 20px 20px;
    }

    h2 {
      .white;
      .fs(35px);
    }

    .field-name-field-image {
      .right;
    }

    #panparks-donate-form-wilderness-supporter {
      height: 240px;
      position: relative;

      label[for=edit-amountselector] {
        .fs(18px);
        .d-green;
      }

      .form-item-uniqueAmount {

        label {
          .m-bottom;
          .left;
          line-height: 20px;
        }

        .textfield {
          .left(0);
        }
      }

      .form-submit {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
      }
    }
  }

  #block-bean-12 {
    margin-right: 0;
    width: 280px;
    background-color: #E49E15;

    h2 {
      .d-green;
    }
    .form-item {
      .value {
        width: 70px;
        margin-right: 0;
      }
      .suffix {
        width: 150px;
      }

      .form-item-amountSelector {
        margin-bottom: 0px;
      }
    }

    .field-name-field-image {
      float: none;
      text-align: center;
      width: 100%;
    }
  }

  .content-mid-left {
    .left(0);

    h2 {
      .d-green;
    }

    #block-bean-13,
    #block-bean-14 {
      float: none;
      width: 200px;
    }

    #block-bean-13 {
      .block-inner {
        padding: 0;
      }
    }

    #block-bean-14 {
      background-color: #E49E15;

      p {
        .small;
      }
    }
  }

  .content-mid-right {
    .left(0);

    .section-title {
      .fs(42px);
      .sassoon;
      line-height: 35px;
      .p-bottom(40px);
      .p-top(20px);
      .align-center;
      .d-green;
    }

    .block{
      width: 200px;

      .block-inner {
        .no-padding;
      }
    }
  }
}