/**
 * @file
 * Field Styling
 */
 @import "base.less";

.date-from-fieldset {
  fieldset {
    .no-border;
    .no-marding;
    background: none;
  }

  .fieldset-legend {
    .fs(@font-size);
    .bold;
  }

  .container-inline-date > .form-item {
    .no-border;
    .no-margin;
    display: inline-block;
    vertical-align: top;
  }

  .container-inline-date .date-padding {
    padding: 0;
  }
}

/*
 * Field types
 */

.field /* Wrapper for any CCK field. */ {
}

.field-type-datetime /* Always use "datetime" when creating new CCK date fields. "date" and "datestamp" are legacy types. */ {
}

.field-type-filefield /* Field from filefield module */ {
}

.field-type-nodereference {
}

.field-type-number-decimal {
}

.field-type-number-float {
}

.field-type-number-integer {
}

.field-type-text {
}

.field-type-userreference {
}

//By default imagefields always floated to left, only the exceptions should override
.field-type-image {
  .left;

  .field-item img {
    width: 100%;
  }
}

form .field-type-image {
  float: none;
  margin: 0;
}

//By default the h2 in teasers is the same size as the content
.node-teaser .field-name-title h2{
  .fs(@font-size);
}
/*
 * Named fields
 */

.field-field-FIELDNAME /* Underscores in field name are replaced with dashes. */ {
}


.file-image {

  .field-name-media-description {
    padding: 10px 10px 5px;
    background-color: @l-grey;

    p {
      margin:0;
    }
  }

  .field-name-field-photographer {
    padding: 0 10px 10px 10px;
    background-color: @l-grey;
  }

}

#edit-field-ps-date {
  .date-from-fieldset;
}

.field-collection-container {
  h2,
  h3 {
    margin: 0;
  }
  .field-collection-view {
    margin: 0;
  }
}