/**
 * @file
 * Form Styling
 */

@font-face {
    font-family: 'Blokletters-Viltstift';
    src: url('../fonts/blokletters-viltstift.eot');
    src: url('../fonts/blokletters-viltstift.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blokletters-viltstift.woff') format('woff'),
         url('../fonts/blokletters-viltstift.ttf') format('truetype'),
         url('../fonts/blokletters-viltstift.svg#blokletters-viltstift') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'DS-Digital-Bold';
    src: url('../fonts/ds-digib.eot');
    src: url('../fonts/ds-digib.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ds-digib.woff') format('woff'),
         url('../fonts/ds-digib.ttf') format('truetype'),
         url('../fonts/ds-digib.svg#ds-digib') format('svg');
    font-weight: normal;
    font-style: normal;
}

 @import "base.less";

.viltstift {
  font-family: 'Blokletters-Viltstift';
  font-weight: normal !important;
}

.ds-digital-bold {
  font-family: 'DS-Digital-Bold';
  font-weight: normal !important;
}

.page-node-56 .column {
  h1 {
    .element-invisible;
  }

  .region-content {
    .p-top(20px);
  }


  .field-name-field-image {
    float: none;
    .m-right(0);

    img {
      .border-box;
      border: 3px solid @green;
    }
  }

  .field-name-field-website {
    a {
      .wide-green-button;
    }
  }

  .block {
    border-radius: 10px 10px 10px 10px;
    .left;
    overflow: hidden;
    width: 300px;
    //height: 300px;
    .block-inner {
      padding: 10px 0;

      h2 {
        .m-bottom(0);
      }
    }
  }

 //No need right margin in the last blocks
  #block-bean-3,
  #block-bean-46,
  #block-bean-48,
  #block-bean-49,
  #block-bean-50,
  #block-bean-57 {
    .m-right(0);
    .m-left(10px);
  }

  //Some block need inner padding
  #block-bean-48,
  #block-bean-49 {
    .block-inner {
      padding: 10px;
    }
  }

  //Some block need zero padding
  #block-bean-46,
  #block-bean-6,
  #block-panparks-blocks-panparks-twitter,
  #block-bean-57, {
    .block-inner {
      padding: 0;
    }
  }

  //video
  #block-bean-56 {
    h2 {
      .p-top(5px);
    }
  }

  //#onemilliontweets
  #block-bean-46 {
    width: 610px;
    height: 235px;

    h2 {
      height: 40px;
      background: none;
      text-indent: 0;
      img {
        height: 44px;
      }
    }

    strong {
      font-weight: normal;
      color: @l-red;
    }

    .field-name-field-body {
      .left;
      .fs(26px);
      .align-right;
      width: 290px;
    }

    .field-name-field-website,
    .hashtag-count {
      width: 300px;
      .right(0);
    }

    .hashtag-count {
      border-color: @grey;
      .border-box;
      margin: 20px 0 10px;
      .hashtag-count-number {
        .ds-digital-bold;
      }

      .hashtag-count-text {
        .viltstift;
        color: @grey;
        background-color: #fff;
      }
    }

    .field-name-field-website {
      .m-top;

      a {
        .wide-red-button;
      }
    }
  }

  //We love wildlife and all about wilderness maximize body height
  #block-bean-38,
  #block-bean-39 {
    .field-name-field-body {
      height: 100px;
    }
  }

  #block-bean-38 {
    clear: left;
  }

  //All about wilderness
  #block-bean-39 {
    .color-block(#fff; @yellow;);

    .field-name-field-website {
      a {
        .wide-yellow-button;
      }
    }
  }

  #block-views-recent-blog-post-block-1 {
    .color-block(#fff; @d-brown;);

    h2 {
      .m-bottom(22px);
      overflow: hidden;

      .subtitle {
        .fs(18px; 0);
        float: none;
      }
    }

    .field-name-field-website {
      a {
        .wide-d-brown-button;
      }
    }

    .views-row {
      .row-separator(20px);

      .views-field-field-transferred-bp-url-1 {
        display: none;
      }

      .views-field-title {
        .bold;
        .fs(14px);

        a {
          .rectangle(@d-green; 2px; 8px;);
        }
      }

      p {
        margin: 0;
      }
    }

    .view-footer {
      .m-top(12px);
    }
  }

  //quiz
  #block-bean-58 {
    .field-name-field-body {
      height: 258px;
    }
  }
  //facebook;
  #block-bean-6 {
    clear: left;
    .border-radius(0 0 0 0);
  }

  #block-panparks-blocks-panparks-twitter {
    background-color: #4fc5f1;
    panparks-tweets;

    h2 {
      .align-center;
      .p-top;
    }

    .content {
      background-color: #15aae1;
      padding: 0 10px;
      .border-radius;
      overflow: hidden;

      a {
        color: #054f6b;

        &:hover {
          color: #94e2fe;
        }
      }

      li {
        .row-separator(10px);
        border-color: #4fc5f1;

        .tweet-user-name {
          color: #054f6b;
        }

        .tweet-text {
          .white;
          max-height: 58px;
        }

        .tweet-created-at {
          color: #94e2fe;
        }
      }
    }
  }

  //youtube
  #block-bean-57 {
    background-color: #d62c2c;
    h2 {
      .align-center;
      .p-top;
    }

    .field-name-field-website {
      a {
        .wide-red-button;
      }
    }

    .content {
      background-color: #000;
      padding: 10px;
      .border-radius;
    }
  }
}