/**
 * @file
 * Navigation Styling
 *
 * Default menu styling (ul.menu) is defined in system-menus.css.
 */
 @import "base.less";

/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navigation {
}

.region-navigation {
}

/*
 * Primary and Secondary menu links
 */
#main-menu {
  padding: 0 0 0 190px;
}

#secondary-menu {
  padding: 0 0 0 190px;

  a {
    color: #909090;
    .bold;
    .italic;
    background: url(../images/secondary-menu-a.png) no-repeat top left;
    .p-left(12px);
  }
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks. See http://drupal.org/project/menu_block
 */
.block-menu_block {
}
