/**
 * @file
 * Navigation Styling
 *
 * Default menu styling (ul.menu) is defined in system-menus.css.
 */
 @import "base.less";

/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navigation {
}

.region-navigation {
}

/*
 * Primary and Secondary menu links
 */
#main-menu {
  float: left;
  width: 100%;
  .m-top(22px);
  li {
    .main-menu-li;
    padding: 0 1em 0 5px;
    display: inline-block;

  &.first {
    margin: 0 0 0 190px;
  }
   a {
      .fs(16px);
      .bold;
      .italic;
      .main-menu-a;
      padding: 0 2em;
      color: #fff;
      line-height: 31px;
      display: inline-block;
    }
  }
  //donate
  .menu-517 {
    .donate-pre;
    .right(0);

    a {
      .donate;
    }
  }
}

#secondary-menu {
  padding: 0 0 0 190px;

  a {
    color: #909090;
    .bold;
    .italic;
    .secondary-menu-a;
  }
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks. See http://drupal.org/project/menu_block
 */
.block-menu_block {
}
