/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

 @import "base.less";

/*
 * Body
 */
body {
  .no-marding;
  background: @body;
  color: @text;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.0078125);
  -webkit-text-stroke-width: 1px;
  -webkit-font-smoothing: subpixel-antialiased;
}


#user-logged-in {
  overflow: hidden;
  ul {
    .no-padding;
    .margin(1em 0 0.5em 0);
    .align-right;
    li {
      list-style: none;
      display: inline-block;
      width: auto;
      .m-right(@grid-margin);
      .small;
      color: #909090;
      padding: 0 10px 0 0;
      border-right:1px solid #909090 !important;
        //@todo implement height count. Normally doesn't need full heigth to show border.
      display: inline-block;

      &.last {
        .no-border;
      }
      a {
        color: #909090;
        text-decoration: underline;
        &:hover {
          .l-red;
        }
      }
      &.first a {
        color: @h1;
      }
    }
  }
}

#page-wrapper {

}

#page {
  letter-spacing: 0.1px;
}

/*
 * The skip navigation link will be completely hidden until a user tabs to the
 * link. See http://www.webaim.org/techniques/skipnav/
 */
#skip-link a,
#skip-link a:visited {
  position: absolute;
  display: block;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  background-color: #666;
  color: #fff;
}

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  position: static;
  width: 100%;
  height: auto;
  padding: 2px 0 3px 0;
}

/*
 * Header
 */
#header {
  position: relative;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
  .clearfix;

  .grey-fix {
    background-color: @body;
    width: 70px;
    height: 40px;
    left: -5px;
    position: absolute;
    top: -5px;
    z-index: 1;
  }
  #header-menu {
    with: 100%;

    .upper {
      padding: 25px 10px 0 0;
    }
  }

  #header-content {
    //background: url(../images/header-tmp.jpg) no-repeat;
    width: 100%;
    .clear;
    min-height: 200px;
    overflow: hidden;
  }
}

#header .section {
  margin: 0 0;
  background: @page;
  width: 100%;
}


#logo /* Wrapping link for logo */ {
  position: absolute;
  top: 0;
  left: -25px;
  z-index:10;
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-size: 2em;
  line-height: 1.3em;
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website */ {
}

.region-header /* Wrapper for any blocks placed in the header region */ {
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
  background: @page;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  overflow: hidden;
}

#main {
}

/*
 * Content
 */
#content {

}

#content .section {
}

#mission /* The mission statement of the site (displayed on homepage) */ {
}

.region-content-top /* Wrapper for any blocks placed in the "content top" region */ {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
  .small;
}

h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */ {
  margin: 0;
}

tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.help /* Help text on a page */ {
  margin: 1em 0;
}

.more-help-link /* Link to more help */ {
  font-size: 0.85em;
  text-align: right;
}

#content-area /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
  margin: 1em 0;
  padding: 0;
}

ul.links.inline {
  margin: 0;
  display: inline;
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
  margin: 0;
}

.pager /* A list of page numbers when more than 1 page of content is available */ {
  clear: both;
  margin: 1em 0;
  text-align: center;
}

.pager a,
.pager strong.pager-current /* Each page number in the pager list */ {
  padding: 0.5em;
}

.more-link /* Aggregator, blog, and forum more link */ {
  text-align: right; /* LTR */
}

.region-content-bottom /* Wrapper for any blocks placed in the "content bottom" region */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
}

.region-sidebar-first .section {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
}

.region-sidebar-second .section {
}

/*
 * Footer
 */
#footer-wrapper {
  border-bottom: 1px solid #FFFFFF;

  .section {
    padding: 25px @grid-margin 0 @grid-margin;
  }
  background-color: #a1a1a1;
  .white;

  .social-links {
    margin: 0;
    .clearfix;
    a {
      .left(5px);
      .fs(10px);
      .red;
    }
  }
  .block {
    .left(0);
    width: 200px;
    .m-right;
    .white;
    .block-inner {
      padding: @grid-margin 0 0;
    }

    .block-title {
      padding: 0 @grid-margin;
      .white;
      .fs(24px);

      a {
        .white;
      }
    }

    .content {
      padding: 0 @grid-margin;
      border-left: 1px solid #fff;
      height: 140px;
    }

    ul {
      list-style: none;
    }

    &.last {
      .m-right(0);
    }
  }
  #block-bean-31 {
    width: 100%;
    float: none;
    margin: 0;
    .no-border;
    .block-inner {
      padding: 0;

      .content {
        padding: 0;
        .no-border;
        height: auto;

      }
    }
  }

  #block-bean-10 {
    .small-triangle-ul;
    ul li:before {
      border-color: transparent transparent transparent #fff;
    }
  }

  #block-bean-9,
  #block-bean-7 {
    .bullet;
  }
}

#footer-message /* Wrapper for the footer message from Drupal's "Site information"
                   and for any blocks placed in the footer region */ {
}

.region-footer {
}


/*
 * Site closure
 */
#site-closure-wrapper {
  background-color: #464646;
  .white;
  .section {
    padding: 25px 10px 20px;
  }

  #small-logo {
    .left;
    height: 90px;
  }

  p {
    .sassoon-bold;
  }

  .title {
    .fs(28px);
  }

  .region-site-closure {
    .left(0);
    width: 580px;
    overflow: hidden;
  }

  .block {
    .m-bottom(0);
    .block-inner {
      .no-padding;
    }
  }
  .menu {
    .no-marding;
    li {
      .inline-block;
      .m-right(20px);
      .triangle-right(@l-red; 6.5px; 6.5px);
      a {
        .white;
        .uppercase;
        .small;
        .italic;
        .bold;


        &:hover {
          .l-red;
        }
      }

    }
  }

  #block-menu-menu-site-closure {
    .m-top(25px);
  }

  #macroweb {
    .right(0);
    color: #949494;
    .align-right;
    .m-top(16px);
    line-height: 12px;

    img {
      width: 70px;
    }

    a {
      color: #949494;
      .underline;

      &:hover {
        .l-red;
      }
    }

    .macroweb {
      line-height: 30px;
    }
  }
}



/*
 * Closure
 */
.region-page-closure /* Wrapper for any blocks placed in the closure region */ {
}

/*
 * Drupal boxes
 *
 * Wrapper for Comment form, Comment viewing options, Menu admin, and
 * Search results.
 */
.box /* Wrapper for box */ {
}

.box h2 /* Box title */ {
}

.box .content /* Box's content wrapper */ {
}

/*
 * Development stuffs
 */

div.krumo-root {
  border: 1px solid black;
  clear: both;
  margin: 1em 0;
}

.front {
  .column {
    .block {
      width: 310px;
      .left;
      //height: 350px;
      overflow: hidden;
      .border-radius;

      &.last {
        .m-right(0);
      }
    }
  }

  .region-content {
    .block {
      //height: 235px;
    }
  }

  .views {
    h3 {
      .fs(14px);
    }
  }

  #block-views-news-block-1 {
     h2 {
      .d-brown;
      .clearfix;

      a {
        .d-brown;
        display: block;
        float: left;
      }

      .feed-icon {
        margin-left: 20px;
        margin-top: 0px;

        &:hover {
          opacity: 0.6;
        }
      }
    }

    h3 {
      .fs(12px);
    }
    .row-separator {
      padding-bottom: 5px;
      .m-top(0);
      .no-border;
    }
  }
  //getting indolved
  #block-bean-2 {
     background-color: @d-green;
    .white;

    h2 {
      .white;
      a {
        .white;
      }
    }
    .content {
      a {
        .l-red;
      }

      .field-name-field-body {
        //height: 265px;

        h3 {

          .fs(14px)
        }

        p {
          .m-top(0);
        }
      }

      .field-name-field-website {
        a {
          .wide-green-button;
        }
      }
    }
  }

  //pictures of month
  #block-bean-49 {
    .field-name-field-body {
      height: 62px;
    }
  }

  //making difference
  #block-bean-1 {
    .field-name-field-body {
      .small-triangle-ul;

      ul li:before {
        border-color: transparent transparent transparent @green;
      }
    }
  }

  #block-quicktabs-social {
    height: auto;
    .border-radius(6px 6px 0 0);
    .m-bottom(0);
    .block-inner {
      padding: 0;
    }

    .block {
      height: auto;
      width: auto;
      margin: 0;
      .border-radius(0);
      float: none;
    }
    h2 {
      .element-invisible;
    }


    .quicktabs-style-nostyle {
      ul.quicktabs-tabs {
        margin: 0;
        overflow: hidden;
        height: 24px;
        padding: 0;
      }

      .quicktabs-tabs li {
        .tab-style(22px; 3px;);

        a {
          width: 100px;
          .border-radius(6px 6px 0 0);
          font-style: normal;
          .smaller;
          line-height: 22px;
          .no-padding;

          &:hover {
          }
        }

        &.active {

          a {

          }
        }
        //the last tab
        #quicktabs-tab-social-2 {
          .m-right(0);
        }
      }

      //tweet block
      #quicktabs-tabpage-social-1 {
        border: 1px solid @grey;
        panparks-tweets;

        .block-inner {
          height: 390px;

          .block-inner-bg {
            padding: 5px;
          }
        }

        ul {
          margin: 0;
        }

        a {
          color: #26BCD7;
          .fs(12px; 2px);
        }
      }

      #quicktabs-tabpage-social-2 {
        border: 1px solid @grey;

        .block-inner {
          height: 390px;

          .block-inner-bg {
            padding: 5px;
          }
        }

        .views-row {
          margin-top: 4px;
          padding-bottom: 7px;
        }

        .views-row-1 {
          .m-top(0);
        }
      }
    }
  }
}

/*
 * Parks node type
 * Parks contains inline right menu in content;
 */
.context-park #content{
  .region-content-top,
  .region-content {
    .clearfix;

    .block {
      .right(0);
      width: 230px;

      .block-inner {
        padding: 10px 0 10px 10px;
      }

      &.first,
      &#block-system-main {
        .left(0);
        width:440px;

        .block-inner {
          padding: 0;
        }
      }
    }
  }

  .region-content-top {
    .field-type-image {
      margin-right: 0;
    }
  }

  .region-content-bottom,
  .field-collection-container {
    //Remove this because of http://atrium.macroweb.hu/panparks-private/node/4187
    //.m-top(20px);
  }

  .node-park:first {
    .field-collection-container {
      margin-top: 20px;
    }
  }

  .field-collection-container h2 {
    margin: 0 0 10px 0;
  }
  .field-collection-container h3 {
    margin: 0;
  }

  .field-collection-view {
    border-bottom: medium none;
    margin: 0;
    padding: 0;
  }
    .field-name-post-date {
      .element-invisible;
    }

    #block-views-park-field-collections-block-1 block-inner {
      padding-bottom: 0;
    }
}


.region-page-closure /* Wrapper for any blocks placed in the closure region */ {
}

//Visit page

.page-node-60 {
  h1 {
    .element-invisible;
  }

  #content {
    .section .block-inner {
      padding: 10px;
    }

    #block-views-all-panparks-map-block {
      width: 100%;
      background-color: @d-green;

      a {
        .white;

        &:hover {
          .l-red;
        }
      }

      .attachment li:before {
        border-left-color: @l-red;
      }

      .openlayers-views-map {
        color: @text;

        a {
          .d-green;

          &:hover {
            .l-red;
          }
        }
      }
    }

    .block {
      .left;
      width: 340px;
      .border-radius;
      .white;

      &.even {
        margin-right: 0;
      }

      h2 {
        .white;
      }

      .field-name-field-image {
        float: none;
        .align-center;
        margin-right: 0;


        img {
          border: 3px solid #fff;
          .border-box;
        }
      }

      .field-name-field-body {
        min-height: 70px;
      }

      .field-name-field-website {
        position: relative;
      }
    }
    //red
    #block-bean-27 {
      background-color: #F15C22;

      .field-name-field-image {
        img {
          border-color: #fb7e50;
        }
      }
      .field-name-field-website a {
        wide-button(@red; #fff; #fb7e50; #fff);
      }
    }
    //brown
    #block-bean-28 {
      background-color: #a38d5e;

      .field-name-field-image {
        img {
          border-color: #af9767;
        }
      }

      .field-name-field-website a {
        wide-button(#826c43; #fff; #af9767; #fff);
      }
    }
    //green
    #block-bean-29 {
      background-color: #79a649;

      .field-name-field-image {
        img {
          border-color: #87b751;
        }
      }

      .field-name-field-website a {
        wide-button(#628e35; #fff; #87b751; #fff);
      }
    }
    //red
    #block-bean-30 {
      background-color: #e39e15;

      .field-name-field-image {
        img {
          border-color: #ebac2b;
        }
      }

      .field-name-field-website a {
        wide-button(#bf8106; #fff; #ebac2b; #fff);
      }
    }
  }
}

// Learn page

.learn {
  .region-content {
    .block-inner {
      padding: 0;
    }

    .block-bean {
      .field-name-field-image  {
        width: 190px;
      }
    }

    .field {
      h2,
      p {
        margin: 0;
      }
    }
  }
}

//Gallery

.meta-wrapper.hover {
  color: #666666;
  left: -22px;
  line-height: 1.25em;
  margin: 0 0 0;
  min-height: 0;
  min-width: 100%;
  position: absolute;
  top: 100%;
  width: 200px;
  z-index: 1;

  .media-title {
    height: auto;
    white-space: normal;
  }
}

#photo-box {
  font-size: @font-size-em;
  line-height: @line-height-em;

  img {
    max-width: none;
  }

  .node-title {
    margin: 5px 0;
  }

  #block-system-main {
    .block-inner {
      padding: 0 10px 10px 10px;
    }
  }
}

#cboxLoadedContent {
  .node {
    .p-bottom(10px);
    //This should be because of chrome colorbox wrong width and height counter
    &.clearfix {
      &:after {
        display: none;
        content: "";
      }
    }
  }
}

.maintenance-page {
  #page {
    .p-top(20px);
  }
  #name-and-slogan {
    display: none;
  }

  #main-wrapper {
    background: none;
    padding-left: 142px;
  }
}

//because of indicator
div.devel-querylog,
.region-development {
  margin-left: 30px;
}

.olLayerGoogleCopyright {
  display: none !important;
}

.page-null {
  h1 {
    .left;
  }

  .d-green-button {
    .m-top(0);
  }
}

.page-node-57 {
  #cboxCurrent {
    display: none !important;
  }
}

//quiz
.answering-form,
.quiz-report {
  tbody {
    .no-border;
  }
  tr.even, tr.odd {
    background: none;
    .no-border;
  }

  img {
    display: block;
  }

  dt {
    background: none !important;
  }
}

//buckaroo

.buckaroo-pay {
  #header-menu-search {
    height: 60px;
  }

  &.sidebar-second #content {
    width: @width - 280px;
    margin-left: 0; /* LTR */
    margin-right: -1 * @width; /* LTR */ /* Negative value of #content's width + left margin. */
  }

  .region-sidebar-second {
    width: 270px;
    margin-left: 670px; /* LTR */ /* Width of content + sidebar-first. @todo: is this ok?*/
    margin-right: -950px; /* LTR */ /* Negative value of .region-sidebar-second's width + left margin. */
    .m-top(20px);
  }

  .breadcrumb {
    display: none;
  }

  #block-bean-65,
  #block-bean-66,
  #block-bean-67 {
    background-color: #749181;
    color: #2c4336;
    .m-bottom(0);

    .block-inner {
      .p-top(5px);
    }
    .block-inner-bg {
      border-bottom: 1px solid #8aa797;
    }

    .field-type-image {
      float: none;
      margin: 0;

      img {
        max-width: 240px;
        max-height: 140px;
        border: 3px solid #7f9f8d;
      }
    }

    .field-name-field-body {
      .bold;
      .sassoon-bold;
      .fs(14px);

      p {
        .m-bottom(5px);
        .m-top(8px);
      }
    }
  }

  #block-bean-65 {
    .border-radius(10px 10px 0 0);

    .block-inner {
      .p-top(10px);
    }
  }

  #block-bean-67 {
    .border-radius(0 0 10px 10px);
    .m-bottom;

    .block-inner-bg {
      border-bottom: none;
    }
    .field-name-field-body {
      p {
        .m-bottom(0);
      }
    }
  }

  #block-bean-13 {
    background-color: #e7e3c4;
    .border-radius(10px);

    h2 {
      color: #5b4524;
      .fs(22px);
    }

    .content {
      background-color: #fff;
      padding: 5px;
      .border-radius(5px);
    }
  }

  #block-bean-68 {
    color: #749181;
    fs(12px);
  }

  #buckaroo-payment-form {

    h3 {
      .h2;
      .sassoon-bold;
      position: relative;
      .fs(28px);
      padding: 4px 0 0 55px;
      .m-top(20px);

      span {
        text-indent: -10000px;
        position: absolute;
        width: 45px;
        height: 35px;
        left: 0;
        top: 0;

        &.buck-title-1 {
          .counter-1;
        }

        &.buck-title-2 {
          .counter-2;
        }

        &.buck-title-3 {
          .counter-3;
        }
      }
    }

    #edit-value {
      padding-left: 215px;
      .clearfix;
      .form-radios {
        //.clearfix;
      }

      .form-type-radio {
        .left;
        width: 107px;
      }
    }

    .form-item-uniqueamount {
      .clear;

      label {
        .left(0);
        width: 380px;
        .align-right;
        font-weight: normal;
      }

      .textfield {
        display: inline-block;
        float: left;
        margin-left: 10px;
        margin-right: 10px;

        input {
          width: 96px;
        }
      }
    }

    .crm-section .content {
      margin-left: 220px;

      input,
      select {
        width: 310px;
      }
    }

    .crm-section .label {
      float: left;
      text-align: right;
      width: 210px;
    }

    #edit-payment-methods {

      .form-item {
        overflow: hidden;
        padding-right: 110px;
      }

      label {
        .left(0);
        width: 210px;
        .align-right;
        .m-right;
        color: @green;
      }

      input {
        display: block;
        text-indent: -1000px;
        .border-radius(0);
      }

      #edit-ideal {
        position: relative;

        label  {
          height: 120px;
          span {
            clear: both;
            display: block;
            font-weight: normal;
          }
        }

        input {
          .ideal;
          left: 215px;
          top: 40px;
          position: absolute;
        }
      }

      #edit-pp {
        label  {
          height: 100px;
          padding-top: 5px;
        }

        input {
          .ppal;
        }
      }
    }
  }
}