/**
 * @file
 * Views Styling
 */
 @import 'base.less';

.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 14px;
}

.view {

  table,
  img {
    width: 100%;
  }
}

.views-view-grid {
  &.cols-2 {
    td {
      width: 50%;
    }
  }
  &.cols-3 {
    td {
      width: 33%;
    }
  }
  &.cols-4 {
    td {
      width: 25%;
    }
  }
}

//Row separated views

.view-accomodations-to-park,
.view-tours-and-holidays-to-park,
.view-tours-and-holidays {
  .views-row {
    .row-separator(0);
  }
}

.view-filters {
  .m-bottom(10px);
}

.view-team {
  h3 {
    .m-top(0);
    .m-bottom(0);
    .fs(16px);
    font-family: @font-family;
    .bold;
  }

  h4 {
    .m-top(0);
    .m-bottom;
    .fs(14px);
  }
}
// http://panparks.node4.macroweb.hu/learn/wilderness-resource-bank
.view-resources-pages {

}

.view-publication-pages {
  td {
    vertical-align: top;
  }

  .field-name-field-image {
    float: none;

    img {
      width: auto;
      margin: 0 auto;
    }
  }

  &.view-dom-id-3 {
    td {
      vertical-align: top;
    }

    .field-name-title {
      .align-center;
    }
  }
}

.openlayers-tooltip-description {
  .clearfix;
}

.openlayers-views-map {
  img {
    width: auto;
  }

  .openlayers-tooltip-name {
    .sassoon-bold;
    .fs(18px);
    .m-bottom;
  }

  //this is because of left floated image
  //if need another image, remove it's default view class
  .views-field {
    //need targeting punctuation because of http://panparks.node4.macroweb.hu/get-involved/we-love-wilderness
    //margin-left: 100px;
  }

  .right {
    margin-bottom: 0;
    clear: right;
  }
}

//This made for http://panparks.node4.macroweb.hu/get-involved/we-love-wilderness
.view-photo-map {
  .clearfix;
  //HACK, to fix sidebars in chrome
  .olFramedCloudPopupContent {
    overflow: visible !important;
  }

  //individual image settings
  .views-field-field-ps-photo {
    .left;
    .m-bottom(0);
    width: 120px;

  }

  table {
    width: auto;
    margin: 0;

    .views-field-field-ps-photo-1{
      padding: 5px;
      float: none;
      width: auto;
      margin: 0;
      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  .col-first {
    .views-field-field-ps-photo {
      //padding: 10px 0;
    }
  }
  .col-last {
    .views-field-field-ps-photo {
      //padding: 10px 0;
    }
  }
}

.view-pan-parks-in-the-media {

  td {
    padding: 10px;
    vertical-align: bottom;

    img {
      width: auto;
      height: auto;
      .inline;
    }
  }

  .views-field-field-image {
    .align-center;
  }

  .views-field-title {
    .bold;
    .m-bottom;
  }
}

.view-news {
  &.view-display-id-page {
    #edit-date-filter-wrapper {
      label {
        .left;
        .p-top(3px);
      }

      .views-widget {
        .left;
      }
    }

    #edit-date-filter-value {
      padding: 0;
    }

    .form-type-date-select {
      label {
        display: none;
      }
    }

    #edit-submit-news {
      margin:0;
    }
  }
}

// Map in http://panparks.node4.macroweb.hu/what-we-do/the-million-project
.view-how-we-work {
  .views-row {
    .clearfix;
  }

  .views-field {
    .m-left(170px);
  }

  .views-field-field-image {
    .left;
    .m-left(0);
  }

  //This should be to prevent sidebars
  .olFramedCloudPopupContent {
    overflow: hidden !important;
  }
}

.map-legend {
  .clearfix;
  position: relative;
  img {
    display: inline;
    width: auto;
  }

  .img {
    position: relative;
    top: 3px;
  }

  .park {
    .left;
  }

  .partner {
    .m-left;
    img {
      width: 12px;
    }
  }
}