/**
 * @file
 * Views Styling
 */
 @import 'base.less';

.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 14px;
}

.views {

  table {
    width: 100%;
  }
}

.views-view-grid {
  &.cols-2 {
    td {
      width: 50%
    }
  }
  &.cols-3 {
    td {
      width: 33%
    }
  }
  &.cols-4 {
    td {
      width: 25%
    }
  }
}