/**
 * @file
 * Views Styling
 */
 @import 'base.less';

.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 14px;
}

.view {

  table,
  img {
    width: 100%;
  }
}

.views-view-grid {
  &.cols-2 {
    td {
      width: 50%;
    }
  }
  &.cols-3 {
    td {
      width: 33%;
    }
  }
  &.cols-4 {
    td {
      width: 25%;
    }
  }
}

//Row separated views

.view-accomodations-to-park,
.view-tours-and-holidays-to-park,
.view-tours-and-holidays {
  .views-row {
    .row-separator(0);
  }
}

.view-filters {
  .m-bottom(10px);
}

.view-team {
  h3 {
    .m-top(0);
    .m-bottom(0);
    .fs(16px);
    font-family: @font-family;
    .bold;
  }

  h4 {
    .m-top(0);
    .m-bottom;
    .fs(14px);
  }
}

.view-publications-resources-pages {

  .field-name-field-image {
    width: 60px;
  }

  &.view-dom-id-1 {
    .field-name-field-image {
      width: 100px;
    }
  }
}

.openlayers-views-map {
  .openlayers-tooltip-name {
    .sassoon-bold;
    .fs(18px);
    .m-bottom;
  }

  .field-type-image {
    width: 90px;
  }
  //this is because of left floated image
  //if need another image, remove it's default view class
  .views-field {
    //need targeting punctuation because of http://panparks.node4.macroweb.hu/get-involved/we-love-wilderness
    //margin-left: 100px;
  }

  .right {
    margin-bottom: 0;
    clear: right;
  }
}

//This made by http://panparks.node4.macroweb.hu/get-involved/we-love-wilderness
.view-photo-map {

  .views-field-field-ps-photo {
    padding: 10px;

    .field-content {
      width: 50px;
    }
  }

  .col-first {
    .views-field-field-ps-photo {
      padding: 10px 0;
    }
  }
  .col-first {
    .views-field-field-ps-photo {
      padding: 10px 0;
    }
  }
}

.view-pan-parks-in-the-media {

  td {
    padding: 10px;
    vertical-align: bottom;

    img {
      width: auto;
      .inline;
    }
  }

  .views-field-field-image {
    .align-center;
  }

  .views-field-title {
    .bold;
    .m-bottom;
  }
}