/**
 * @file
 * Visit page styling
 */
 @import "base.less";

@font-face {
    font-family: 'Blokletters-Viltstift';
    src: url('../fonts/blokletters-viltstift.eot');
    src: url('../fonts/blokletters-viltstift.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blokletters-viltstift.woff') format('woff'),
         url('../fonts/blokletters-viltstift.ttf') format('truetype'),
         url('../fonts/blokletters-viltstift.svg#blokletters-viltstift') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'DS-Digital-Bold';
    src: url('../fonts/ds-digib.eot');
    src: url('../fonts/ds-digib.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ds-digib.woff') format('woff'),
         url('../fonts/ds-digib.ttf') format('truetype'),
         url('../fonts/ds-digib.svg#ds-digib') format('svg');
    font-weight: normal;
    font-style: normal;
}

.balpen {
  font-family: 'Blokletters-Viltstift';
  font-weight: normal !important;
}

.potland {
  font-family: 'Blokletters-Potlood';
  font-weight: normal !important;
}

.viltstift {
  font-family: 'Blokletters-Viltstift';
  font-weight: normal !important;
}

.ds-digital {
  font-family: 'DS-Digital';
  font-weight: normal !important;
}

.ds-digital-bold {
  font-family: 'DS-Digital-Bold';
  font-weight: normal !important;
}

.ds-digital-italic {
  font-family: 'DS-Digital-Italic';
  font-weight: normal !important;
}

.radioland {
  font-family: 'Radioland';
  font-weight: normal !important;
}

.radioslim {
  font-family: 'Radioslim';
  font-weight: normal !important;
}

.worchester {
  font-family: 'WorchesterEFOP-Regular';
  font-weight: normal !important;
}


#content .section {

  .section-title {
    .m-top(0);
    .m-bottom(0);
  }

  .section-title a {
    .uppercase;
    .block;
    color: #503e1a;
    .sassoon-bold;
    .fs(36px; 4px);
    padding: 10px;

    &:hover {
      color: #826c43;
    }
  }

  .block {
    .left(0);
  }

  img {
    width: 100%;
    .border-box;
  }

  .block-inner {
    padding: 10px;
    .white;
  }

  h2.block-title {
    .block-title-small;
    .white;
  }

  .field-name-field-image {
    float: none;
    .m-right(0);
    .align-center;
  }

  .content-top {
    .m-top(20px);
    background-color: #c7b591;
    .border-radius(10px 10px 0 0);
    .m-top(20px);

    img {
      border: 3px solid #b4a27e;
    }

    .field-name-field-website {

      a {
        wide-button(#826c43; #fff; #4d3b15; #fff);
      }
    }

    .form-submit {
      button(#826c43; #fff; #4d3b15; #fff);
      .p-left(0);
      .p-right(0);
    }

    .block {
      width: 310px;
      .m-bottom;

      .block-inner {
        padding: 0 10px 0 10px;
      }

    }

    #block-bean-46 {
      .hashtag-count-number {
        .ds-digital-bold;
      }
      .hashtag-count-text {
        .viltstift;
        color: #897751;
        background-color: #C7B591;
      }
    }

    #block-bean-45 {

      .block-inner {
        border-left: 1px solid #b4a27e;
        border-right: 1px solid #b4a27e;
      }
    }

    #block-bean-50,
    #block-bean-49 {
      background-color: transparent;
    }
  }

  .content-mid {
    .m-bottom(20px);
    background-color: #b6a27d;
    padding: 10px;
    .border-radius(0 0 10px 10px);

    a {
      .right(0);
      button(#4d3b15; #fff; #826c43; #fff);
    }
  }

  .content-bottom {

    .content-section {
      background-color: #f15c22;
      .border-radius;
      width: 455px;

      .section-title a {
        color: #440c00;

        &:hover {
          color: #bf3e21;
        }
      }

      h2 {

      }

      img {
        border: 3px solid #fd7344;
      }

      .block {
        width: 225px;
        .m-bottom;

        .block-inner {
          padding: 0 10px 0 10px;
        }

      }

      .field-name-field-website {

        a {
        wide-button(#bf3e21; #fff; #fd7344; #fff);
        }
      }

      #block-bean-33 {

        .block-inner {
          border-right: 1px solid #fd7344;
        }
      }

      #block-bean-34 {
      }

    }

    .content-bottom-right {
      background-color: #82a65c;

      .section-title a {
        color: #283c12;

        &:hover {
          color: #567434;
        }
      }

      img {
        border: 3px solid #92b86f;
      }

      .field-name-field-website {

        a {
          wide-button(#567434; #fff; #92b86f; #fff);
        }
      }

      #block-bean-35 {

        .block-inner {
          border-right: 1px solid #6e8e4b;
        }
      }
    }
  }
}